<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 th:text="'hello ya wla' "></h2>
      <table id="owners" class="table table-striped">
          <thead>
            <tr>
                <th style="width: 150px;" >ID</th>
                <th style="width: 150px;">FirstName</th>
                <th style="width: 150px;">LastName</th>
            </tr>
          </thead>
          <tr th:each="owner:${owners}">
              <td th:text="${owner?.id}"></td>
              <td th:text="${owner?.firstName}"></td>
              <td th:text="${owner?.lastName}"></td>
          </tr>
      </table>
</body>
</html>